@model List<Category>

<div class="card shadow border-top-0 mt-4">
	<div class="card-header bg-primary bg-gradient bg-opacity-75 m-lg-0 py-3 border-0 rounded-2 rounded-bottom-0">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white">Category List</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="container">
			<div class="row">
				<div class="text-end">
					<a asp-controller="Category" asp-action="Upsert" class="btn btn-primary">
						<i class="bi bi-plus"></i> Create
					</a>
				</div>
			</div>
			@if(Model.Count > 0)
			{
				<table class="table table-hover table-striped mt-2">
					<thead>
						<tr>
							<th>Category Name</th>
							<th>Display Order</th>
							<th>Operations</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var category in Model.OrderBy(u => u.DisplayOrder))
						{
							<tr>
								<td>@category.Name</td>
								<td>
									@category.DisplayOrder
								</td>
								<td>
									<div class="w-75" role="group">
										<a asp-controller="Category" asp-action="Upsert" asp-route-id="@category.Id" class="btn btn-outline-primary">
											<i class="bi bi-pencil-square"></i> Edit
										</a>
										<a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-outline-danger" onclick="deleteObject(event, '@category.Name')">
											<i class="bi bi-trash-fill"></i> Delete
										</a>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			else
			{
				<p>There aren't any category in the database.</p>
			}
		</div>
	</div>
</div>

@section Scripts{
	<script>
		function deleteObject(e, categoryName) {
			// preventing default event which is redirect for anchor tag.
			e.preventDefault();

			// do my commands
			DeleteAlert.fire({
				title: 'Delete this category?',
				html: `'<strong>${categoryName}</strong>' will be deleted.`
			}).then((result) => {
				if (result.isConfirmed) {
					// then redirect
					window.location.href = e.target.href;
				}
			})
		}
	</script>
}
